

.sidebar__list {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    height: 100vh;
    width: 100px;
    background-color: #191C24;
    align-items: center;
    list-style: none;
}

.sidebar__icon {
    color: whitesmoke;
    font-size: 40px;
    opacity: 0.8;
}

.sidebar__icon:hover {
    color: #FCCA46;
    opacity: 1.0;
}

@media all and (max-width: 700px) {
    .sidebar__list {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        height: 70px;
        width: 100vw;
    }
}

