.banner_wrapper {
    background-color: #191C24;
    overflow: hidden;
}
.icon {
    display: block;
    margin-left: auto;
    margin-right: auto;  
    width: 150px;
    max-width: 100%;
    height: auto;
    border-radius: 100px;
    opacity: 0.8;
    border-style: solid;
    border-color: whitesmoke;
}

.separator {
    width: 50vw;
    background-color: #AFD2E9; 
    height: 1px; 
    border: 0;
    margin: auto;
}

.about {
    text-align: center;
}

.title {
    font-family: 'Nunito', sans-serif;
    font-size: 10vh;
    color:#FCCA46;
    font-weight: 500;
}

.text {
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
    font-size: 2.5vh;
    font-weight: 0;
    margin: 30px 25vw 30px 25vw;
}

.button_banner {
    margin: 20px;
    background-color: #191C24;
    border: solid;
    color: white;
    padding: 15px 10px;
    text-align: center;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    border-width: 2px;
    cursor: pointer;
    outline: none;
}

.button_banner:hover {
    background-color: #FCCA46;
    border: none;
    padding: 17px 10px;
}

.button_banner a {
    text-decoration: none;
    color: white;
}

.button_banner a:active {
    text-decoration: none;
}