.button {
    background-color: #252934;
    border: solid;
    color: white;
    padding: 15px 10px;
    text-align: center;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    border-width: 2px;
    cursor: pointer;
    outline: none;
}

.button:hover {
    background-color: #FCCA46;
    border: none;
    padding: 17px 10px;
}

.button a {
    text-decoration: none;
    color: white;
}

.button a:active {
    text-decoration: none;
}