.contact {
    background-color: #252934;
    display: flex;
    flex-flow: row wrap;
}

.contact_form {
    margin: auto;
}

.contact_title {
    color: #707B99;
    font-family: 'Raleway';
    font-size: 20px;
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
}

.contact_separator {
    width: 150px;
    margin: 10px auto 20px auto;
    background-color: whitesmoke;
    height: 1px;
    border: none;
    opacity: 0.5;
}

.contact_field {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.contact_input {
    flex: 1 1 auto;
    width: 250px;
    height: 35px;
    background-color: #3f465a;
    opacity: 0.5;
    border: none;
    margin-left: 5px;
    margin-top: 8px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: whitesmoke;
    padding-left: 5px;
}

.contact_field textarea {
    height: 150px;
    resize: none;
    overflow: hidden;
}

.contact_input::placeholder {
    color: whitesmoke;
}

.contact_button {
    background-color: #323847;
    border:none;
    border-radius: 5px;
    color: whitesmoke;
    display: flex;
    flex-direction: row wrap;
    font-size: 15px;
    justify-content: space-around;
    margin-left: auto;
    margin-top: 10px;
    opacity: 0.8;
    padding: 5px 10px;
    text-align: start;
    text-decoration: none;
    transition-duration: 0.4s;
    width: 70px;
}

.contact_button:hover {
    background-color: #FCCA46;
    border: none;
    color: #191c24;
    opacity: 0.9;
}

@media (max-width: 500px) {
    .contact {
        display: flex;
        flex-flow: column wrap;
        height: 100vh;
    }

    .contact_field {
        display: flex;
        flex-flow: column wrap;
    }

    .contact_button {
        margin-left: 60%;
    }
}
