.item {
    position: relative;
    margin: 0;
    cursor: pointer;
}

.item_img {
    display: block;
    opacity: 0.8;
}

.item_img--state-hover {
    display: block;
    opacity: 0.05;
    transition: .8s;
}

.item_description,
.item_description--state-hover {
    font-size: 40px;
    position: absolute;
    left: 0;
    margin-top: 20px;
    top: 0;
    text-align: center;
    visibility: hidden;
}

.item_description--state-hover {
    visibility: visible;
}

.item_text {
    color: whitesmoke;
    font-family: 'Nunito';
    font-size: 20px;
    text-align: center;
}

.item_subtext {
    color: whitesmoke;
    font-family: 'Nunito';
    font-size: 15px;
    margin-top: 5px;
    text-align: center;
}

.item_technologies {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.item_button {
    background-color: #252934;
    border: 2px solid whitesmoke;
    color: white;
    padding: 5px 10px;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    text-align: center;
    opacity: 0.6;
}

.item_button:hover {
    border: 2px solid whitesmoke;
    opacity: 0.9;
}

.item_button a {
    text-decoration: none;
    color: white;
}

.item_button a:active {
    text-decoration: none;
}